{#
/**
 * @file custom_page.html.twig
 * Default theme implementation to present Custom page data.
 *
 * This template is used when viewing Custom page pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_custom_page()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('custom_page') }}>
  {{ content }}
</div>
